* {
	border:0;
	margin:0;
	padding:0}
	
body {
	background:url('../img/bg.gif');
	font:1.3em 'Roboto Condensed', sans-serif;}
	
section {
	width:90%;
	margin:50px auto;
	clear:left}

.col {
	width:45%;
	float:left;
	padding:15px}

p {
	margin-bottom:20px;
	line-height:1.5em}
	
/* --- BANNER -------------------------------- */
section#banner {
	text-align:center}

section#banner img {
	vertical-align:middle}
	
	
/* --- CONTENT ------------------------------- */
div.hr {
	background:url('../img/hr.png') repeat-x center center;
	height:50px;
	width:30%;
	margin:0 30%;
	clear:left}

	
/* --- LOGOS --------------------------------- */
section#sponsors {
	text-align:center}
	
section#sponsors span {
	display:block}
	
section#sponsors img {
	vertical-align:middle;
	height:80px;
	padding:5px;}