* {
	border:0;
	margin:0;
	padding:0}
	
body {
	background:url('../img/bg.jpg');
	font:1.35em 'Ropa Sans', sans-serif;}

p {
	margin-bottom:20px;
	line-height:1.4em}
	
a {
	color:#ff007d;
	background:rgba(255,255,255,0.25);
	text-shadow:0 1px #8e8961;
	padding:5px;}
	
a:hover {
	background:none;
	text-decoration:none}
	
	
/* --- BANNER -------------------------------- */
ul#menu {
	background:#000;
	padding:8px 0;
	text-align:center}
	
ul#menu li {
	display:inline-block;
	padding:0 10px;}
	
ul#menu a {
	color:#fff;
	background:none;
	text-decoration:none;
	font-size:0.8em;
	text-shadow:none;
	padding:0 15;}
	
ul#menu a:hover {
	color:#eed447;}
	
ul#menu .slash {
	color:#606060;
	padding:0 3px;}
	
	
/* --- BANNER -------------------------------- */
section#banner {
	text-align:center}

section#banner img {
	vertical-align:middle}
	
	
	
/* --- CONTENT ------------------------------- */
div.hr {
	background:url('../img/hr.png') repeat-x center center;
	height:50px;
	width:30%;
	margin:0 auto;
	clear:left}
	
section#tickets div {
	margin:auto;
	padding-top:50px;}
	
.titling, h2 {
	font-family:Alegreya;
	font-size:1.7em;}
	
.titling em, h2 {
	font-weight:bold;
	text-shadow:0 2px #fa62b8}
	
h2 {
	text-align:center;
	margin:0;
	padding:0;}
	
small {
	font-size:0.6em;}
	
section {
	width:90%;
	margin:50px auto;
	clear:left;}

.col {
	width:45%;
	float:left;
	margin:0 10px;
	padding:10px;
	/* background:rgba(255,255,255,0.3);*/}
	

/* --- GAMES */
.game {
	clear:left;}
	
.game .details {
	width:80%;
	text-align:left;
	margin:50px auto 0 auto}

.gametitle {
	margin-top:40px;}

.gamepic {
	width:200px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	border-radius:50%;}

.game .title {
	display:block;
	font-size:3em}
	
.game .author {
	font-size:1.8em;
	display:block;
	font-family:Alegreya;
	font-style:italic}
	
.game .author img {
	margin-left:20px;}
	
.game .author a {
	font-size:0.7em;
	padding:0 !important;
	background:none;
	text-shadow:0 1px #8e8961;
	position:relative;
	top:-5px}
	
br.clear {
	clear:left}

	
/* --- LOGOS --------------------------------- */
#partners span {
	display:block}
	
#partners img {
	vertical-align:middle;
	height:80px;
	padding:5px}
	
#partners a {
	background:none;
	text-decoration:none;}